header {
	display: block;
	position: absolute;
	width: 100%;
	margin-top: -100px;
	
}

.left-header {
	display: inline;
	/* float: left; */
}

body {
	padding-top: 100px;
	position: static;
}

.right-header {
	display: inline;
	float: right;
	margin-right: 10px;
	
}

#search-string {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#logo {
	width: 25em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button {
	position: relative;
	margin-left: 33%;
	margin-right: auto;
	
}